In [9]:
import pandas as pd
from Bio import SeqIO

md = "metadata.csv"
fa = "sequences.fasta"
fa2 = 

#read csv that may contain formatting errors
df = pd.read_csv(md, sep=',', encoding_errors='ignore')

In [11]:
df.columns

Index(['Accession', 'Country', 'Rhee Subtype', 'SampleYear', 'Combined name',
       'Authors', 'Title', 'PubMedID', 'ISOCode', 'LANL subtype',
       'Original REGA', 'REGA 2023', 'REGA bootstrap 2023', 'Original COMET',
       'COMET 2023', 'COMET 2023 bootstrap', 'FML results', 'Next steps',
       'jpHMM results', 'comments', 'SIERRA subtype results',
       'SIERRA percent distance to closest ref', 'Final subtype call',
       'RDP results', 'BP phylo analysis', 'Subtypes match?',
       'REGA 2023 vs COMET 2023 match', 'COMET 2023 vs FML match',
       'REGA 2023 vs FML match', 'COMET match', 'Original results Match?',
       'Genes', 'PR Start', 'PR End', 'RT Start', 'RT End', 'IN Start',
       'IN End', 'Subtype (%)', 'NA Mixture Rate (%)', 'PI Major',
       'PI Accessory', 'PR Other', 'NRTI', 'NNRTI', 'RT Other', 'INSTI Major',
       'INSTI Accessory', 'IN Other', 'PI SDRMs', 'NRTI SDRMs', 'NNRTI SDRMs',
       'INSTI SDRMs', 'PI TSMs', 'NRTI TSMs', 'NNRTI TSMs', 'INSTI TSMs',
       'Num Frame Shifts', 'Frame Shifts', 'Num Insertions', 'Insertions',
       'Num Deletions', 'Deletions', 'Num Stop Codons', 'Stop Codons',
       'Num Ambiguous', 'Ambiguous', 'Num Apobec Mutations',
       'Apobec Mutations', 'Num Unusual Mutations', 'Unusual Mutations',
       'AlignedNASeq', 'Unnamed: 72'],
      dtype='object')

In [20]:
sel = ['Accession']
sel.extend([i for i in df.columns if 'type' in i])
sel.insert(4, 'SIERRA percent distance to closest ref')

In [21]:
sel

['Accession',
 'Rhee Subtype',
 'LANL subtype',
 'SIERRA subtype results',
 'SIERRA percent distance to closest ref',
 'Final subtype call',
 'Subtypes match?',
 'Subtype (%)']

In [22]:
df[df['Subtypes match?']!="match"][sel]

,Accession,Rhee Subtype,LANL subtype,SIERRA subtype results,SIERRA percent distance to closest ref,Final subtype call,Subtypes match?,Subtype (%)
18,AB231895,02_AG,02_AG,02_AG,0.18%,02_AG,mismatch,CRF02_AG (0.18%)
31,AB286859,02_AG,02_AG,02_AG,0.00%,02_AG,mismatch,CRF02_AG (0.00%)
69,AB547464,33_01B,33_01B,33_01B,0.00%,33_01B,mismatch,CRF33_01B (0.00%)
86,AB845344,69_01B,69_01B,69_01B,1.44%,69_01B,mismatch,CRF69_01B (1.44%)
87,AB845345,69_01B,69_01B,69_01B,0.39%,69_01B,mismatch,CRF69_01B (0.39%)
...,...,...,...,...,...,...,...,...
5810,LC101090,01_AE,01_AE,A1,5.63%,01_AE,mismatch,A (5.63%)
5845,LC101126,01_AE,01_AE,01_AE,3.73%,01_AE,mismatch,CRF01_AE (3.73%)
5846,LC101127,01_AE,01_AE,01_AE,3.70%,01_AE,mismatch,CRF01_AE (3.70%)
5997,U51188,01_AE,01_AE,01_AE,0.00%,01_AE,mismatch,CRF01_AE (0.00%)
5999,U52953,C,C,C,0.04%,C,mismatch,C (0.04%)

In [23]:
data_columns = ['Accession', 'Final subtype call', 'AlignedNASeq']

In [33]:
data = df[data_columns]

In [38]:
data = data.rename(columns={'AlignedNASeq':'sequence', 'Final subtype call':'subtype', "Accession":"id"})

In [39]:
data

            id subtype                                           sequence
0     AB023804       C  CCTCAAATCACTCTTTGGCAGCGACCTCTTGTCTCAATAAGAGTAG...
1     AB032740   01_AE  CCTCAAATCACTCTTTGGCAACGACCCCTTGTCACAGTAAAAATAG...
2     AB032741   01_AE  CCTCAAATCACTCTTTGGCAACGACCCCTTGTCACAGTAAAAATAG...
3     AB049811   02_AG  CCTCAAATCACTCTTTGGCAGCGACCCTTAGTCACAGTAAGAATAG...
4     AB052867   02_AG  CCTCAAATCACTCTTTGGCAACGACCAGTAGTCGCAGTAAGAGTAG...
...        ...     ...                                                ...
6001    U69584       B  CCTCAGATCACTCTTTGGCAACGACCCCTCGTCTCAATAAAGATAG...
6002    U71182       B  CCTCAAATCACTCTTTGGCAACGACCCCTCGTCACAATAAAGGTAG...
6003    U88822       D  CCTCAAATCACTCTTTGGCAACGACCCGTTGTCACAATAAAGATAG...
6004    U88824       D  CCTCAAATCACTCTTTGGCAACGACCCGTTGTCACAGTAAAGATAG...
6005    U88826       G  CCTCAAATCACTCTTTGGCAGCGACCCCTAGTCACAGTAAAAATAG...

[6006 rows x 3 columns]

In [40]:
fasta_output = "sequences.fasta"

with open(fasta_output, "w") as o:
    for index, row in data.iterrows():
        sid = f">{row['subtype']}.{row['id']}"
        seq = row['sequence']
        o.write(f"{sid}\n{seq}\n")